.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
  }
  &__radio {
    margin: 10px 0;
    & label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      & input {
        margin-right: 10px;
      }
    }
  }
}
