.main {
  padding: 10px 35px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  &__search {
    margin-bottom: 10px;
  }
  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-column-gap: 1%;
  }
}
